<h4></h4>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="data">
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ListPrice">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> List Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ListPrice}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="DollarsOff">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> DollarsOff </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DollarsOff}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="NetPrice">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> NetPrice </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.NetPrice}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Off">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> %Off </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Off}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="HarmonyCost">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> HarmonyCost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.HarmonyCost}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CostConcession">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> CostConcession </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CostConcession}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="SpecialCost">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> SpecialCost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.SpecialCost}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Comments">
        <mat-header-cell *matHeaderCellDef class="mat-card-header"> Comments/Notes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Comments}} </mat-cell>
      </ng-container>

  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  
